:root {
  --muitabbgCololr: #f4f4f4 !important;
  --muitabColor: #000000 !important;
}
.MuiTabs-root {
  background: var(--muitabbgCololr) !important;
  padding: 1rem;
  border-radius: 4px;
}
.MuiTab-root {
  color: var(--muitabColor) !important;
  border-radius: 4px !important;
  background: #ffffff !important;
  padding: 0px 2.5rem !important;
  text-transform: capitalize !important;
  font-size: 14px !important;
  transition: all 0.3s ease-in-out;
  /* margin: 2rem 0px; */
}
.MuiTab-root:hover {
  background: #1976d2 !important;
  color: #ffffff !important;
  transition: all 0.3s ease-in-out;
}
.Mui-selected {
  color: #ffffff !important;
  border-radius: 4px !important;
  background: #1976d2 !important;
  padding: 0px 2.5rem !important;
  text-transform: capitalize !important;
  font-family: "Be Vietnam", sans-serif;
}
@media (max-width: 1024px) {
  .MuiTabs-root {
    justify-content: "auto";
  }
}
@media (max-width: 1310px) {
  .soldProduct .MuiTabs-flexContainer {
    justify-content: start !important;
  }
}
.soldProduct .MuiTabs-flexContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* @media  (max-width: 768px) {
  .MuiTab-root {
    color: var(--muitabColor) !important;
    border-radius: 4px !important;
    background: #ffffff !important;
    padding: 0px 0.5rem !important;
    text-transform: capitalize !important;
    transition: all 0.3s ease-in-out;
  }
  .MuiTab-root:hover {
    background: #1976d2 !important;
    color: #ffffff !important;
    transition: all 0.3s ease-in-out;
  }
    .Mui-selected {
    color: #ffffff !important;
    border-radius: 4px !important;
    background: #1976d2 !important;
    padding: 0px 0.5rem !important;
    text-transform: capitalize !important;
    font-family: "Be Vietnam", sans-serif;
  
  }
} */
