* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  padding-top: 64px;
  /* Adjust this value based on your Header height */
}
.MuiOutlinedInput-input,
.MuiInputBase-input,
.Mui-focused {
  box-shadow: none;
  border-radius: none;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.MuiTypography-root {
  font-family: "Be Vietnam Pro", sans-serif !important;
}

.swiper-button-prev {
  display: "none";
}

.swiper-button-next {
  display: "none";
}

.PhoneInputInput {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #222222;

  &::placeholder {
    color: #999;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid #222222;
  }
  #phoneNumber {
    border: "none" !important;
    padding-left: 50px;
  }
}

.Toastify__toast-container {
  z-index: 100000 !important;
}

input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

input::placeholder {
  color: #aab7c4;
}

input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.FpxBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.StripeElement.PaymentRequestButton {
  height: 40px;
}
