* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  padding-top: 64px;
  /* Adjust this value based on your Header height */
}
.MuiOutlinedInput-input,
.MuiInputBase-input,
.Mui-focused {
  box-shadow: none;
  border-radius: none;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.MuiTypography-root {
  font-family: "Be Vietnam Pro", sans-serif !important;
}

.swiper-button-prev {
  display: "none";
}

.swiper-button-next {
  display: "none";
}

.PhoneInputInput {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #222222;

  &::placeholder {
    color: #999;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid #222222;
  }
  #phoneNumber {
    border: "none" !important;
    padding-left: 50px;
  }
}

.Toastify__toast-container {
  z-index: 100000 !important;
}

input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

input::placeholder {
  color: #aab7c4;
}

input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.FpxBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.StripeElement.PaymentRequestButton {
  height: 40px;
}
.soldProduct .MuiTabs-flexContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 1915px) {
  .soldProduct .MuiTabs-flexContainer {
    justify-content: start !important;
  }
}

.height-footer {
  min-height: calc(100dvh - 163px);
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.popever-funnel-navbar > .MuiBackdrop-invisible,
.popever-funnel-navbar [data-testid="sentinelStart"] {
  display: none !important;
}

.popever-funnel-navbar {
  position: unset !important;
}

.popever-funnel-navbar .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
  position: fixed !important;
  z-index: 999;
  max-height: 400px !important;
  margin-top: 12px;
}

.navlink {
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.navlink:hover {
  background: rgb(38, 151, 250);
  color: rgb(255, 255, 255) !important;
}
.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.nav-bar-cat {
  display: flex;
  gap: 2px;
}

.navitem {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  color: rgb(0, 0, 0);
  line-height: 17.53px;
  margin-left: 2px;
  font-family: "Be Vietnam Pro", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navitem:hover,
.navitem.active {
  background: rgb(38, 151, 250);
  color: #fff;
}

.navitem .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  color: #000;
  transform: translate(-20px, 0);
  background-color: #fff;
  width: max-content;
  min-width: 100px;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
  padding: 20px 10px 20px 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
}

.navitem:hover .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: all;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.05);
}

.navitem:hover .dropdown a {
  display: block;
}
@media (max-width: 900px) {
  .arrow {
    top: 32%;
  }
}
